/* root, DOM, all */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --sidebar-color: #41e0bb;
    --header-color: #ffffff;
    --text-color-white: #ffffff;
    --cards-color: white;
    --text-color-sidebar: #004d40;
    --text-color: #131313;
    --buttons-color: #1992d4;
    --main-content-color: #e2e8f0;
}

/* Main containers layouts */

.grid-main-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
}

/* Sidebar layout START */

.sidebar {
    background-color: var(--sidebar-color);
    grid-column:  1 / 1;
    grid-row: 1 / 4;

    display: grid;
    gap: 15px;

    justify-content: start;
    align-items: start;
    align-content: start;
}

ul > li {
    color: var(--text-color-sidebar);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;

    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

ul > li > span {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 900;
    padding: 10px;
}

ul > li:first-child {
    padding-top: 20px;
}

ul > li:nth-child(7) {
    padding-top: 50px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 15px;
    padding: 10px;
    font-size: 25px;
    font-weight: 900;
}

.logo {
    height: 55px;
    justify-self: center;
    align-self: center;
}

/* Sidebar layout END */

/* Header Layout START*/

.header {
    background-color: var(--header-color);
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    
    display: grid;
    gap: 10px;

    grid-template-columns: 3fr 2fr;

}

.header-search-bar {
    grid-column: 1 / 2;
    padding-top: 20px;
    
}

.header-search-bar-container {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding-left: 30px;
 
    gap: 10px;
}

.header-search-bar-container > span {
    font-size: 20px;
}

.search-bar {
    font-size: 14px;
    width: 80%;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;

    background-color: #e2e8f0;
    border: 0px;
}

.search-bar:focus {
    outline: none;
}

.profile-right-corner {
    grid-column: 2 / 3;
}

.profile-right-corner-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.profile-right-corner-container > span > p {
    font-size: 25px;
    font-weight: 600;
}

.profile-img {
    width: 50px;
}

.profile-img-greet {
    width: 80px;
}

.profile-name-greet {
    grid-column: 1 / 2;
}

.profile-name-greet-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 30px;
    gap: 12px;
}

.profile-name-greeting-text {
    font-size: 25px;
    font-weight: 600;
}

.hi {
    font-size: 14px;
}

.profile-quick-buttons {
    grid-column: 2 / 3;
    align-self: center;
}

.profile-quick-buttons-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-right: 25px;
}

.quick-buttons {
    font-size: 16px;
    font-weight: 600;
    width: 90px;
    border-radius: 20px;
    outline: none;
    border: 0;
    padding: 8px 5px 8px 5px;
    background-color: var(--buttons-color);
    color: var(--text-color-white);
}

/* Header Layout END */

/* Information section layout START */

.announcements-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
  
    align-self: flex-start;
    padding-right: 30px;
    width: 90%;
}

.open-icon {
    display: none;
}

.trending-img {
    width: 35px;
    
}

.content-announcements {
    display: flex;
    flex-direction: column;

    background-color: var(--header-color);
    padding: 15px 25px 15px 25px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px -2px rgb(90, 88, 88);

}

.content-item {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
}

.content-item:last-child {
    border-bottom: 0;
}

.content-item-heading {
    font-size: 12px;
    font-weight: 700;
}

.content-item-body {
    font-size: 10px;
    color: #666;
    letter-spacing: 1px;
    
}

.heading-announcements,
.heading-trending,
.heading-main-content {
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 16px;
   
}


.content-trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 10px 15px 10px 15px;

    background-color: var(--header-color);
    border-radius: 6px;
    box-shadow: 2px 2px 5px -2px rgb(90, 88, 88);
    
    
}

.trending-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    gap: 10px;
    padding-bottom: 4px;
   

}

.trending-item-body {
    display: flex;
    flex-direction: column;

}

.trending-item-body > p:last-child {
    font-size: 14px;
    color: #666;
}


/* Information section layout END

/* Main content layout START*/

.main-content {
    grid-column: 2 / 3;

    display: grid;
    gap: 15px;
  
    align-items: center;
  
 
    background-color: var(--main-content-color);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.heading-main-content {
    padding-left: 25px;
    font-size: 12px;  

}

/* Cards layout main content */

.cards {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
 
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    gap: 25px;
    padding-left: 25px;
    padding-right: 25px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 15px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px -2px rgb(90, 88, 88);
    border-radius: 6px;
    border-left: 5px solid #f0b429;;
    height: 140px;
    width: 100%;
}

.card-heading {
    font-size: 14px;
    font-weight: 700;
    
}

.card-text {
    font-size: 12px;
    color: #666;
 
}

.card-buttons {
    align-self: flex-end;
    margin-top: 20px;
}

/* Main content layout END*/

@media only screen and (max-width: 900px) {

    .announcements-container {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        width: 100vw;
 
    }

    .content-trending {
        width: 100%;
    }

    .open-icon {
        display: block;
    }
    .sidebar {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
     
        padding: 0px 10px 0px 10px;

        border-bottom: 2px solid orange;
    }

    .container-logo-dashboard {
        display: flex;
        justify-content: space-evenly;
        width: 100vw;

    }

    .logo {
        align-self: flex-start;
        padding-right: 50px;
    }

    .collapse {
        height: 0px;
        flex-direction: column;
        width: 100vw;
        

        transition: height 0.5s ease-in-out;

        background-color: #ffffff70;

        
      
    }

    .collapse.active {
        height: 100%;
        padding-bottom: 25px;


    }

    .open-icon {
        font-size: 50px;
        justify-self: flex-end;
        cursor: pointer;
    }

    .header {
        grid-column: 1;
        grid-row: 2;
        width: 100vw;

        display: flex;
        flex-direction: column;

        padding-bottom: 15px;
    }
    
    .grid-main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }


    .main-content {

       grid-column: 1 / 1;

        display: flex;
        flex-direction: column;
        width: 100vw;

        align-items: center;
        
    }
}